.bet-block {
  width: 300px;
  background-color: #131525;
  //border-left: 1px solid #3e447c;

  // border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;


  display: flex;
  flex-direction: column;

  .bet-block-mode {
    display: flex;
    background-color: #131525;

    > a {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      background-color: #080911;
      color: #696FA3;

      text-decoration: none;
      height: 60px;
      transition: .3s ease;
      &.active {
        background-color: #131525;
        color: #FFF;
      }
      &:first-of-type {
        //border-top-right-radius: 8px;
        border-bottom-right-radius: 6px;
      }
      &:last-of-type {
        //border-top-left-radius: 8px;
        border-bottom-left-radius: 6px;
      }
    }
  }

  .bet-block-manual {
    //margin-top: 20px;
    padding: 20px;
    flex: 1;

    display: flex;
    flex-direction: column;
  }

  .bet-input-group,
  .block-input {
    margin-top: 10px;
    position: relative;
    &:first-of-type {
      margin-top: 0;
    }
  }

  .bet-input-group {
    display: flex;
    .block-input {
      margin-right: 10px;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }


  .bet-button {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    > button {
      width: 100%;
      height: 40px;
      border-radius: 8px;
      color: #FFF;
      //background: #4457FF linear-gradient(180deg, #4457FF 0%, #3C4DE1 100%);
      background: #4457FF;
      font-size: 24px;
      &:hover {
        //font-size: 25px;
        background-color: #5165ff;
        transform: scale(1.02);
      }
      &:disabled {
        //color: #cbcbcb;
        color: #606060;
        cursor: not-allowed;
        //background-color: #6974c9;
        //background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='0.73' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
        background-color: #2f2f2f;
        //pointer-events: none;

        &:hover {
          transform: unset;
        }
      }
    }
  }


}
